#controls {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    z-index: 1;
    padding: 10px;
    border: 2px solid rgba(75, 75, 75, 0.8);
    border-radius: 10px;
    background-color: rgba(50, 50, 50, 0.8);
    width: 250px;
}

#controls input[type="file"] {
    display: none;
}

.custom-button {
    padding: 10px 0;
    background-color: white;
    color: black;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
}

.custom-button:hover {
    background-color: #5c5c5c;
    color: white;
}

#controls input[type="text"] {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.slider {
    width: 80%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    transition: background 0.3s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: royalblue;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.slider::-webkit-slider-thumb:hover {
    background: darkblue;
}

/* Style for Firefox */
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: royalblue;
    border-radius: 50%;
    cursor: pointer;
}

/* Hover effect for Firefox thumb */
.slider::-moz-range-thumb:hover {
    background: darkblue;
}

/* Style for Internet Explorer */
.slider::-ms-thumb {
    width: 15px;
    height: 15px;
    background: royalblue;
    border-radius: 50%;
    cursor: pointer;
}

/* Hover effect for IE thumb */
.slider::-ms-thumb:hover {
    background: darkblue;
}

.slider:active {
    background: #aaa;
}